@model Anime
    <link rel="stylesheet" href="~/css/_Layout.css" />
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body{
        background-color: orangered;
    }
</style>
<form asp-action="Privacy" asp-controller="Home" method="post" enctype="multipart/form-data">
    <p>
        <label>Title</label>
        <input name="Title" class="form-control" />
    </p>
    <p>
        <label>Old</label>
        <input name="Old" type="number" />
    </p>
    <p>
        <label>New</label>
        <input name="New" type="number" />
    </p>
    <p>
        <label>Type</label>
        @Html.DropDownList("Type", new SelectList(new string[] { "Tom", "Sam", "Bob", "Alice" }), "Choose")
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>
<script>
    document.getElementById("nav-e-bar").style.display = "none";
    document.getElementById("search_button").style.display = "none";
    document.getElementById("footer").style.display = "none";
</script>